:root {
    --vermelho-destaque: #FF3838;
    --verde-destaque: #009C00;
    --bg-cinza: #EBE8E8;
    --shadow: 2px 1px 5px 1px rgba(163, 148, 148, .5);

}

ul, li {
    list-style: none;
    
}

.app-header {
    padding: 30px;
    width: 100vw;
    height: 120px;
    border-bottom: 2px solid rgba(164, 164, 164, 0.3);
}

.app-header-title {    
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
    justify-content: center;
}

.menu-item {
    background-color: var(--bg-cinza);
    border-radius: 5px;
    
    box-shadow: var(--shadow);
    height: 100px;
    max-width: 100px;
    width: calc(33.333% - 4px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    text-align: center;
}

.custom-button {
    border: none;
    background-color: var(--vermelho-destaque);
    color: white;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
}

.custom-button-light {
    background-color: white;
    border: solid 2px var(--vermelho-destaque);
    color: var(--vermelho-destaque);
    font-weight: bold;
    height: 40px;
    border-radius: 20px;
}