:root {
    --vermelho-destaque: #FF3838;
    --verde-destaque: #009C00;
    --bg-cinza: #EBE8E8;
    --shadow: 2px 1px 5px 1px rgba(163, 148, 148, .5);

}


ul, p, a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}

ul, li {
    list-style: none;
    
}

.app-header {
    padding: 30px;
    width: 100vw;
    height: 120px;
    border-bottom: 2px solid rgba(164, 164, 164, 0.3);
}

.app-header-title {    
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}



.custom-button {
    border: none;
    background-color: var(--vermelho-destaque);
    color: white;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
}

.custom-button:hover {
    opacity: .7;
}

.custom-button-light {
    background-color: white;
    border: solid 2px var(--vermelho-destaque);
    color: var(--vermelho-destaque);
    font-weight: bold;
    height: 40px;
    border-radius: 20px;
}