.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
    justify-content: center;
}

.menu-item {
    background-color: var(--bg-cinza);
    border-radius: 5px;
    
    box-shadow: var(--shadow);
    height: 100px;
    max-width: 100px;
    width: calc(33.333% - 4px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    text-align: center;
}

.dados-usuario {
    height: 100vh;
}

.container-dados {
    /* height: 350px; */
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between
}

.card-dados {
    display: flex;
    width: 100%;
    /* height: calc(50% - 5px); */
    background-color: var(--bg-cinza);
    padding: 10px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.card-dados--titulo {
    color: var(--verde-destaque);
    font-size: 1.75rem;
    font-weight: bold;
}

.card-dados--descricao {
    font-size: 1.2rem;
    font-weight: bold;
}


.card-nivel {
    background-color: var(--vermelho-destaque);
    /* height: 350px; */
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.card-nivel img {
    width: 75px;
    margin: 1em 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card-nivel--mensagem {
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 1em 0;
}

.teste2 {
    /* height: 200px; */
    background-color: hotpink;
}


@media screen and (min-width: 768px) {
    .menu {
        justify-content: start;
        flex-direction: column;
    }

    .container-dados {
        height: 200px;
        flex-wrap: nowrap;
    }

    .card-dados {
        height: 350px;
    }

    .card-dados {
        max-width: 23%;
        height: 100%;
        
        justify-content: space-around;
    }

    .card-nivel {
        max-width: 28%;
    }
    
    .menu-item {
        width: 100px;
    }
}

@media screen and (min-width: 1300px) {
    main {
        max-width: 1300px;
        margin: 0 auto;
    }
}