

.custom-form {
    width: 100%;
    max-width: 400px;
    flex-grow: 1;
}

.form-group {
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px auto;
}

@media screen and (min-width: 1025px) {
    .container {
        flex-direction: row;
       
        align-items: baseline;
    }

}