

.custom-form {
    width: 100%;
    max-width: 400px;
    flex-grow: 1;
}

.form-group {
    margin-bottom: 20px;
}



.custom-container-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

@media screen and (min-width: 1025px) {
    .custom-container-flex {
        flex-direction: row;
       
        align-items: baseline;
    }

}