.cadastro-treinos {
    background-color: var(--bg-cinza);
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.container {
    max-width: 600px;
}

.treino {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-cinza);
    gap: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.treino-titulo {
    font-family: var(--fonte-padrao);
    color: var(--cor-fonte);
}

.treino p {
    font-weight: bold;
    font-size: 1.2rem;
}